html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
:root {
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  background-image: url("./images/karl-paul-baldacchino-FVIfpmHYb-o-unsplash.jpg");
  background-size: cover;
  background-position: bottom;

}
body {
  width: 95vw;
  height: 100vh;
  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
ol,
ul {
  list-style: none;
  width: 350px;
  height: 70vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

div,
fieldset {
  box-sizing: border-box;
  margin: 15px 3px;
}

p,
legend,
input,
label {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 300px;
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
  font-size: max(18px, 1.2vw);
}
h1 {
  font-size: max(30px, 2.5vw);
  font-family: "Kanit", sans-serif;
}
input {
  width: 200px;
  outline: none;
  margin: 5px 0;
  position: relative;
  background-color: white;
  color: #333;
  border: none;
}

.container-main {
  margin: 0;
  width: max(50vw, 600px);
  height: 160vh;
  background-color: rgba(245, 245, 245, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-title {
  text-align: center;
  width: 345px;
  padding: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

#form {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: flex-start;
}
li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

button {
  width: 100px;
  margin: 0 auto;
  border: none;
  padding: 5px 3px;
  background-color: rgba(100, 148, 237, 0.8);
  font-weight: bold;
  color: white;
}
button:hover {
  cursor: pointer;
  background-color: cornflowerblue;
}
button:active {
  transform: scale(0.9);
}
input:invalid {
  border: 1px solid red;
}
input + span {
  position: relative;
}
input:invalid + span::before {
  position: absolute;
  content: "At least 2 letters long. No whitespaces allowed";
  background-color: rgba(255, 0, 0, 0.3);
  top: -30px;
  left: -135px;
}
input:focus-visible {
  
  outline: 1px solid blue;
}
input[type="email"]:invalid + span::before {
  content: "Please enter a valid email";
  top: -30px;
  left: -117px;
}
input[type="tel"]:invalid + span::before {
  content: "Must be 10 digits long";
  top: -30px;
  left: -101px;
}
input::placeholder {
  color: rgba(255, 255, 255);
}

@media only screen and (min-width: 480px) {
  ul {
    display: grid;
    margin: 0 auto;
    width: 100%;
    height: 70%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 30% 30%;
  }
  li {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    justify-content: center;
    padding: 0 15px;
  }
  fieldset {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body {
    align-items: flex-end;
    justify-content: center;
  }
  p {
    width: 600px;
    line-height: 3rem;
  }
  input {
    width: 270px;
  }
  input:invalid + span::before {
    width: 110px;
    top: -85px;
    left: 160px;
  }
  input[type="email"]:invalid + span::before {
    top: -70px;
    left: 160px;
  }
  input[type="tel"]:invalid + span::before {
    margin: 5px 0;
    top: -75px;
    left: 160px;
  }
  #form {
    height: 70vh;
    width: 600px;
    justify-content: center;
    align-items: center;
  }
  .container-main {
    height: 95vh;
  }
}
